.task-details {
  background-color: #24263B;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;

  &__title {
    font-size: 1.5rem;
    cursor: default;

    margin-bottom: 2rem;

    &--light {
      color: #ffffff;
    }

    &--dark {
      color: #fefefed0;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    &--light {
      background-color: var(--var-background-color-light);
      color: var(--var-text-color-light);
    }

    &--dark {
        background-color: var(--var-background-color-dark);
        color: var(--var-text-color-dark);
    }
  }

  &__container {
    position: absolute;
    top: var(--absolute-position);
    width: 100%;
    max-width: 60rem;
    height: fit-content;
  }

  &__input, &__select {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5rem;

    color: inherit;

    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 0.8rem;

    outline: none;

    border: none;
    background-color: transparent;

    &--light {
      &:placeholder-shown, &:focus {
        animation: blinklight 2s infinite;
      }
    }

    &--dark {
      &:placeholder-shown, &:focus {
        animation: blinkdark 2s infinite;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--var-border);
    }
  }

  &__select {
    cursor: pointer;

    text-transform: capitalize;

      &__option {
        &--light {
          background-color: var(--var-background-color-light);
          color: var(--var-text-color-light);
        }

        &--dark {
            background-color: var(--var-background-color-dark);
            color: var(--var-text-color-dark);
        }
      }
  }

  &__button {
    padding: 1.5rem;
    border: none;
    text-align: left;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 8px;

    margin-bottom: .5rem;
    
    &:not(:last-child) {
      margin-top: 1.5rem;
    }

    background-color: var(--var-background-color);

    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;

    transition: transform 0.3s ease;
    cursor: pointer;

    color: var(--var-text-color);

    &:hover {
      transform: scale(1.02);
    }

    &--light {
      background-color: var(--var-background-color-light);
      color: var(--var-text-color-light);
    }

    &--dark {
        background-color: var(--var-background-color-dark);
        color: var(--var-text-color-dark);
    }

    &--save {
      margin-top: 1.5rem;

      & svg {
        width: 25px;
        height: 25px;
      }
    }

    &--delete {

      color: rgb(253, 100, 100);
      
      & svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
