.task-details {

  background-color: #24263B;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;

  &__title {
    color: #D9D0D9;
    font-size: 1.5rem;

    margin-bottom: 2rem;
  }

  &__fields {
    display: flex;
    flex-direction: column;

    color: var(--var-text-color);
  }

  &__container {
    position: absolute;
    top: var(--absolute-position);
    width: 100%;
    max-width: 60rem;
    height: fit-content;
  }

  &__input, &__select {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5rem;

    color: var(--var-text-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 0.8rem;

    outline: none;

    border: none;
    background-color: transparent;

    &:not(:last-child) {
      border-bottom: 1px solid var(--var-border);
    }

    &:placeholder-shown, &:focus {
      animation: blink 2s infinite;
    }
  }

  &__select {
    cursor: pointer;

    text-transform: capitalize;

      & option {
          background-color: var(--var-background-color);
          color: var(--var-text-color);
      }
  }

  &__button {
    padding: 1.5rem;
    border: none;
    text-align: left;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin-top: 2rem;

    background-color: var(--var-background-color);

    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;

    transition: transform 0.3s ease;
    cursor: pointer;

    color: var(--var-text-color);

    &:hover {
      transform: scale(1.02);
    }

    &--save {
      background-color: #330033;

      & svg {
        width: 25px;
        height: 25px;
      }
    }

    &--delete {
      background-color: rgb(66, 14, 14);

      & svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
