.tasks-list {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px !important;

    &--light {
        background-color: var(--var-background-color-light);
        color: var(--var-text-color-light);
    }

    &--dark {
        background-color: var(--var-background-color-dark);
        color: var(--var-text-color-dark);
    }

    &__container {
        position: absolute;
        background-color: transparent;
        top: var(--absolute-position);
        width: 100%;
        max-width: 60rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    &__create {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        margin-bottom: 1.5rem;
        padding: 1.5rem;
        width: 100%;
        text-align: left;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 2px;
        transition: transform 0.3s ease;
        cursor: pointer;

        &--light {
            background-color: var(--var-background-color-light);
            color: var(--var-text-color-light);
        }

        &--dark {
            background-color: var(--var-background-color-dark);
            color: var(--var-text-color-dark);
        }

        &:hover {
            transform: scale(1.02);
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1.5rem;

        &:not(:last-child) {
            border-bottom: 1px solid var(--var-border);
        }

        &--left {
            width: 100%;
        }

        &--right {
            display: flex;
            align-items: baseline;
            gap: 0.8rem;

            &--light {
                color: var(--var-text-color-light);
            }

            &--dark {
                color: var(--var-text-color-dark);
            }
        }

        &-link {
            text-decoration: none;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 0.8rem;
            background-color: transparent;
            border: none;
            cursor: pointer;

            &--light {
                color: var(--var-text-color-light);
            }

            &--dark {
                color: var(--var-text-color-dark);
            }

            &:hover {
                border-bottom: 1px solid var(--var-hover-border);
            }
        }
    }

    &__filter-container {
        display: flex;
        gap: 0.8rem;
    }

    &__filter-button,
    &__clear-button {
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 0.8rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid transparent;
        cursor: pointer;

        &--light {
            color: var(--var-text-color-light);
        }

        &--dark {
            color: var(--var-text-color-dark);
        }

        &:hover {
            border-bottom: 1px solid var(--var-hover-border);
        }
    }

    &__filter-button--active {
        color: #0d49e0;
        font-weight: bold;
        border-bottom: 1px solid #0d49e0;
    }

    &__count {
        cursor: default !important;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 0.8rem;
        background-color: transparent;
        border-bottom: 1px solid transparent;
    }
}
