.auth-page {

    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: block;
        width: 100%;

        transform: translateY(-58%);

        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        padding: 2rem;

        max-width: 60rem;

        &--light {
            background-color: var(--var-background-color-light);
            color: var(--var-text-color-light);
        }
    
        &--dark {
            background-color: var(--var-background-color-dark);
            color: var(--var-text-color-dark);
        }
    }

    &__title {
        margin-bottom: 2rem;
    }
}
