.header {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;

    height: 20rem;

    padding: 1rem;

    display: flex;
    justify-content: center;

    &__s-link {
        &--light {
            color: #ffffff;
        }
        
        &--dark {
            color: #fefefed0;
        }
    }

    &--light {
        background-color: #7D91F4;
    }

    &--dark {
        background-color: #14014e;
    }

    &__container {
        width: 100%;
        max-width: 60rem;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        padding-top: 2rem;
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: 20px;
        font-weight: 700;
        font-size: 3rem;
        
        
        transition: all .3s;
        
        &--light {
            color: #ffffff;
        }
        
        &--dark {
            color: #fefefed0;
        }

        &:hover {
            transform: scale(105%);
            transition: transform 0.3s ease, color 0.3s ease;
        }

        &__container {
            display: flex;
            align-items: baseline;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &__button {
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        text-transform: uppercase;
        border-bottom: 2px solid rgb(73, 73, 73);

        cursor: pointer;

        &:hover {
            color: rgb(59, 59, 59)
        }

        &--light {
            color: #ffffff;
        }
        
        &--dark {
            color: #fefefed0;
        }
    }

    div {
        display: flex;
        gap: 2rem;
    }

    &__button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    & svg {
        width: 30px;
        height: 30px;
    }
}
